@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
}

* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}